.overlay.active{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.50);
}
.menu-icon{
    z-index: 99;
    background: #fd3d0c;
}
.menu-icon span {
    display: block;
    position: relative;
    margin: auto;
    width: 40px;
    height: 5px;
    background: white;
    border-radius: 2px;
    transition: all 0.5s ease;
    transform-origin: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.menu-icon span:nth-child(1){
    top: -8px;
}
.menu-icon span:nth-child(2){
    top: 0px;
    width: 30px;
    margin: 0;
    right: -20px;
}
.menu-icon span:nth-child(3){
    top: 8px;
}

.menu-icon.active{
    background: #141b22;
}

.menu-icon.active span:nth-child(1){
    top: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.menu-icon.active span:nth-child(2){
    visibility: hidden;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.menu-icon.active span:nth-child(3){
    top: -5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.mobile-menu-box{
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background: transparent;
    padding: 100px 60px 30px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 98;
}

.mobile-menu-box .menu{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.mobile-menu-box.toggleMenu{
    opacity: 1;
    pointer-events: unset;
}

.mobile-menu-box .menu-background.top{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%) skewY(-20deg);
    width: 101%;
    height: 50.3333%;
    background: #fd3d0c;
    transition: 1s;
    z-index: 0;
}

.mobile-menu-box.toggleMenu .menu-background.top{
    top: -20%;
    transition-delay: 0.7s;
}

.mobile-menu-box .menu-background.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-20deg);
    width: 101%;
    height: 0;
    background: #fd3d0c;
    transition: 1s;
    z-index: 1;
}

.mobile-menu-box.toggleMenu .menu-background.middle{
    height: 50%;
    transition-delay: 0.6s;
}
.mobile-menu-box .menu-background.bottom{
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%) skewY(-20deg);
    width: 101%;
    height: 50.3333%;
    background: #fd3d0c;
    transition: 1s;
    z-index: 0;
}

.mobile-menu-box.toggleMenu .menu-background.bottom{
    bottom: -20%;
    transition-delay: 0.5s;
}

.mobile-menu-box .menu{
    position: relative;
    display: block;
    text-align: left;
    z-index: 10;
}

.mobile-menu-box ul li{
    display: block;
    color: white;
    margin: -70px 0 15px 30px;
    padding: 10px 40px 20px 0;
    opacity: 0;
    transition: 0.5s;
}

.mobile-menu-box.toggleMenu ul li{
    text-align: left;
    margin: 0 0;
    opacity: 1;
    transition: 0.5s;
}

.mobile-menu-box.toggleMenu ul li:first-child{
    transition-delay: 0.5s;
}
.mobile-menu-box.toggleMenu ul li:nth-child(2){
    transition-delay: 0.6s;
}
.mobile-menu-box.toggleMenu ul li:nth-child(3){
    transition-delay: 0.7s;
}
.mobile-menu-box.toggleMenu ul li:nth-child(4){
    transition-delay: 0.8s;
}
.mobile-menu-box.toggleMenu ul li:nth-child(5){
    transition-delay: 0.9s;
}

.activeNav{
    color: #141b22;
    position: relative;
}
.activeNav::before{
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
}